:root{
    --comment-background: #f0f2f5;
    --secondary-icon: #65676B;
    --primary-color: #1877f2;
}

* {
    margin: 0;
    box-sizing: border-box;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.navbar {
    font-size: 1rem;
    height: 56px;
    box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
    padding: 0 10px;
    background-color: #fff;
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.facebook-img img {
    width: 2.6rem;
}

.search {
    display: flex;
    background-color: var(--comment-background);
    padding: 5px 10px;
    border-radius: 20px;
}

.search input {
    border: 0;
    outline: 0;
    background-color: inherit;
    width: 12rem;
    height: 1.5rem;
    font-size: 0.9rem;
}

.search-icon {
    display: flex;
    align-items: center;
}

.search-icon svg {
    width: 1.2rem;
    height: auto;
}

.navbar--left {
    width: 25%;
    justify-content: flex-start;
}

.navbar--middle {
    width: 50%;
    min-width: 500px;
    justify-content: flex-start;
}

.navbar--middle .icons {
    width: 20%;
    height: 45px;
    margin-right: 10px;
    justify-content: center;
}

.navbar--middle .icons:hover {
    border-radius: 10px;
    background-color: var(--comment-background);
}

.icons {
    color: var(--secondary-icon);
}

.navbar--middle .icons svg {
    width: 1.6rem;
    height: auto;
}

.navbar--right .icons{
    width: 2rem;
    height: 2rem;
    background-color: var(--comment-background);
    border-radius: 50%;
    justify-content: center;
    margin-left: 5px;
}

.navbar--right {
    width: 25%;
    min-width: 120px;
    justify-content: flex-end;
}