.navbar {
    font-size: 1rem;
    height: 56px;
    box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
    padding: 0 10px;
    background-color: #fff;
    justify-content: space-between;
}

.facebook-img {
    margin-right: 0.5rem;
    flex-shrink: 0;
}

.facebook-img img {
    width: 2.6rem;
    min-width: 2.6rem;
}

.search {
    display: flex;
    background-color: var(--comment-background);
    padding: 10px 10px;
    border-radius: 50%;
}

.search input {
    display: none;
    border: 0;
    outline: 0;
    background-color: inherit;
    width: 12rem;
    height: 1.5rem;
    font-size: 0.9rem;
}

.search-icon {
    display: flex;
    align-items: center;
}

.search-icon svg {
    width: 1.2rem;
    height: auto;
}

.navbar--left {
    width: 25%;
    justify-content: flex-start;
    min-width: 150px;
}

.navbar--middle {
    display: none;
    align-items: center;
    width: 50%;
    justify-content: flex-start;
}

.navbar--middle .icons {
    width: 20%;
    height: 45px;
    margin-right: 10px;
    justify-content: center;
}

.navbar--middle .icons:hover {
    border-radius: 10px;
    background-color: var(--comment-background);
}

.icons {
    color: var(--secondary-icon);
}

.navbar--middle .icons svg {
    width: 1.6rem;
    height: auto;
}

.navbar--right .icons {
    width: 2rem;
    height: 2rem;
    background-color: var(--comment-background);
    border-radius: 50%;
    justify-content: center;
    margin-left: 5px;
    flex-shrink: 0;
}

.navbar--right {
    width: 25%;
    min-width: 120px;
    justify-content: flex-end;
    flex-shrink: 0;
}

@media (min-width: 1300px) {
    .search {
        padding-block: 8px;
        border-radius: 20px;
    }

    .search input {
        display: block;
    }
}

@media (min-width: 680px) {
    .navbar--middle {
        display: flex;
    }
}